.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
/test/
/resources/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
secret/
work-tables.propertries
/logs/

/model/utils/flat.js
/db/entities-promise/
/db/operators-promise.js
/db/entities/tuban-promise.js
